/* &display=swap&subset=cyrillic-ext */

/* Connect Fonts with Google Fonts */

@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,italic,500,500italic,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500,600,700&display=swap");


/* Connect Fonts use local files */

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue.woff2") format("woff2"), 
		url("../fonts/HelveticaNeue.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue-Black.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

/* ------------- */

body {
	font-size: 18px;
	background-color: #d5d5d5;
	font-family: "Poppins", sans-serif;
	color: #323232;
	font-weight: 400;
	line-height: 1.2;
}

.container {
  max-width: 1200px;
	margin: 10px auto 30px;
}

.header__block,
.footer__block {
  background-color:#e8b5b5;
  box-shadow: 5px 5px 10px 5px #404040, inset 5px 5px 10px 3px #fff;
  border-radius: 40px;
	padding: 30px 0px;
}

.header__title {
	font-family: "Roboto", sans-serif;
	text-align: center;
	color: #6d99d6;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 42px;
	text-shadow: 3px 3px 6px #fff;
	margin: 10px auto 20px;
}

.menu {
	display: block;
}

.menu__list {
	text-align: center;
}

.menu__item {
	display: inline-block;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	margin:  10px 15px;
}

.menu__link {
	padding: 10px 15px;
	background-color: #c18383;
	color:#dc143c;
	text-shadow: 2px 2px 5px #fff;
	box-shadow: inset 2px 2px 4px 1px #fff, 2px 2px 4px 1px #404040;
	text-decoration: underline;
	padding: 5px 15px;
	border-radius: 20px;
}

.menu__link:hover {
	color:#6d99d6;
	background-color: #fff;
	text-decoration: underline;
  transition: background-color 0.7s ease-in-out;
}

.navigation {
	margin: 10px auto 0px;
	width: 65px;
}

.button {
  display: inline-block;
	font-weight: 700;
  color: #fff;
  background-color: #f78434;
  border-radius: 29px;
  padding: 21px 41px;
}

.button:hover {
  background-color: #fff;
  color: #f78434;
	border: 2px solid #f78434;
	padding: 19px 39px;
  transition: background-color 0.7s ease-in-out;
}

.card__link {
	font-size: 16px;
	line-height: 1.69;
	letter-spacing: 0.15px;
	color: #58bebf;
	transition: color 0.4s ease-in-out;
}

.card__link:hover {
	color: #f78434;
}

.meal__button {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 900;
	letter-spacing: 2px;
	color: #ffffff80;
	padding: 12px 24px;
	cursor: pointer;
	background-color: #252525;
	border: 1px solid #303030;
	border-radius: 30px;
	transition: background-color 0.7s ease-in-out;
}

.meal__button:hover {
	color: #252525;
	background-color: #34c759;
}

.space,
.sale,
.cleveland,
.choose,
.meal {
	max-width: 1100px;
	margin: 30px auto;
	background-color: #dbdbdb;
	border-radius: 30px;
	box-shadow: 3px 3px 6px 3px #636363, inset 3px 3px 6px 3px #fff;
	padding: 30px 0px;
}

.space__row,
.sale__row {
	max-width: 474px;
	margin: 30px auto;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 3px 3px 6px 3px #636363;
	padding: 30px;
	text-align: center;
}

.sale__row {
	max-width: 540px;
}

.space__title,
.sale__title {
	font-size: 42px;
	font-weight: 700;
	line-height: 1.4;
	letter-spacing: 0.8px;
	margin: 0px 0px 20px 0px;
}

.space__text,
.sale__text,
.cleveland__card-text {
	line-height: 1.6;
	letter-spacing: 1.15px;
	margin: 0px 0px 20px 0px;
}

.sale__image-wrapper {
	margin: 20px auto;
}

.cleveland__card {
	max-width: 350px;
	margin: 30px auto;
	background-color: #fff;
	border-radius: 30px;
	box-shadow: 3px 3px 6px 3px #636363;
}

.cleveland__img {
	border-radius: 30px 30px 0px 0px;
}

.cleveland__card-content {
	padding: 30px;
}

.cleveland__card-text {
	margin: 0px 0px 30px 0px;
}

.cleveland__card-author {
	font-size: 18px;
	font-weight: 700;
	margin: 0px 0px 5px 0px;
}

.choose {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 400;
}

.choose__card {
	max-width: 255px;
	margin: 30px auto;
	background-color: #000;
	border-radius: 10px;
	padding: 34px 24px 60px;
}

.choose__card:hover {
	background-color: #34c759;
	transition: background-color 0.7s ease-in-out;
}

.choose__card:hover > h3,
.choose__card:hover > p {
	background-color: #000;
}

.choose__card:hover > .choose__line {
	background-color: #000;
}

.choose__title {
	color: #fff;
	font-size: 22px;
	line-height: calc(26 / 22 * 100%);
	letter-spacing: -0.275px;
	text-transform: capitalize;
	margin: 0px 0px 10px 0px;
}

.choose__line {
	max-width: 56px;
	height: 2px;
	background-color: #34c759;
	margin: 0px 0px 24px 0px;
}