
/* Connect Fonts with Google Fonts plugin*/

@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,500,500italic,600,700,900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,600,700,900&display=swap");

/* Connect Fonts use local files */

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-Regular.woff2') format('woff2'),
      url('../fonts/LorenzoSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-Italic.woff2') format('woff2'),
      url('../fonts/LorenzoSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-Medium.woff2') format('woff2'),
      url('../fonts/LorenzoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-MediumItalic.woff2') format('woff2'),
      url('../fonts/LorenzoSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-Bold.woff2') format('woff2'),
      url('../fonts/LorenzoSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lorenzo Sans';
  src: url('../fonts/LorenzoSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/LorenzoSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* ------------------------ */

body {
  font-size: 21px;
  line-height: 1.2;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4b4b4b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.small__container {
  max-width: 1020px;
  margin: 0 auto;
}

/* ------------------------- */

.header-block,
.footer-block {
  background-color: #afafaf;
  box-shadow: 5px 5px 10px 5px #242424, inset 5px 5px 8px 4px #fff;
  border-radius: 30px;
  padding: 20px;
  margin: 30px 0px;
}

.list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.item {
  background-color: #909090;
  box-shadow: 3px 3px 4px 3px #6495ed, inset 3px 3px 4px 2px #fff;
  border-radius: 30px;
  margin: 10px 5px 5px;
  padding: 7px 20px;
}

.link {
  color: #ff4444;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 3px 3px 3px #fff;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
  transition: color 0.5s ease-in-out;
}

.page__title {
  font-family: 'Lorenzo Sans', sans-serif;
  text-align: center;
  color: #ff4444;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 700;
  text-shadow: 4px 4px 4px #fff;
  margin: 0px 0px 15px 0px;
}

.navigation {
  margin: 20px auto 10px;
  max-width: 65px;
}

.title {
  display: inline;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.27;
}

.subtitle {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.17;
  margin-bottom: 36px;
  color: #02133c;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  margin-bottom: 54px;
  padding-bottom: 260px;
}

.logo {
  margin: 0px 16px 0px 0px;
}

/* --- who-we-are --- */

.who-we-are__wrapper {
  padding: 100px 87px 0px;
  background: #fff url('../img/task_1/about-bg.png') 100% 0% no-repeat;
}

.who-we-are__wrapper-bg {
  min-height: 600px;
}

.who-we-are__wrapper-row {
  font-size: 0;
  margin: 0px 0px 33px 0px;
}

.who-we-are__img-wrapper {
  text-align: center;
  margin: -300px auto 100px;
}

/* --- video --- */

.video {
  background: url('../img/task_2/video-bg.jpg') 0 0 / 100% 100% no-repeat;
  max-height: 498px;
}

.video__subtitle {
  color: #fff;
  max-width: 411px;
  padding-top: 112px;
  margin-left: auto;
}

.video-icon__wrapper {
  margin-top: -30px;
}

.video-icon__link {
  display: inline-block;
  border-radius: 50%;
  margin: 0px 0px 120px 610px;
  transition: background-color 0.5s ease-in-out;
}

.video-icon__link:hover {
  background-color: rgba(255, 68, 68, 0.4);
  border-radius: 50%;
  width: 140px;
  height: 140px;
}

.video-icon__img {
  width: 140px;
  height: 140px;
}

/* --- services --- */

.services {
  position: relative;
}

.services__wrapper::before {
  content: '';
  position: absolute;
  background: url('../img/task_3/services-bg.png') no-repeat;
  top: 0;
  left: 0;
  width: 641px;
  height: 450px;
  z-index: 2;
}

.services__wrapper::after {
  content: '';
  position: absolute;
  background: url('../img/task_3/services-bg-bottom.png') no-repeat;
  bottom: 0;
  right: 0;
  width: 641px;
  height: 450px;
  z-index: 2;
}

.services__wrapper-row {
  padding: 110px 0px 0px 0px;
  margin: 0px 0px 33px 0px;
}

.services__wrapper-row-img {
  margin: 0px 16px 0px 0px;
  padding: 3px 0px 0px 0px;
}

.services__title {
  display: inline-block;
  margin: 0px 0px 33px -11px;
}

.services__subtitle {
  margin: 0px 0px 78px 0px;
}

.services__card-row .services__card {
  margin: 0px 24px 12px 0px;
}

.services__card-row .services__card:nth-child(3n + 3) {
  margin: 0px 0px 0px 0px;
}

.services__card-row {
  text-align: center;
  font-size: 0;
  margin: 0 auto 33px;
  padding: 0px 0px 100px 0px;
}

.card {
  position: relative;
  display: inline-block;
  max-width: 324px;
  max-height: 340px;
  background-color: #fff;
  text-align: center;
  vertical-align: top;
  z-index: 4;
  transition: filter 0.7s ease-in-out;
  filter: drop-shadow(0px 1px 1px rgba(38, 38, 38, 0.24)) drop-shadow(0px 1px 
	2px rgba(38, 38, 38, 0.2));
}

.card:hover {
  filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.card__wrapper {
  padding: 50px 43px 50px 44px;
}

.card__img {
  display: inline-block;
  margin: 0px 0px 33px 0px;
}

.card__title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.37;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.card__text {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.services__button-wrapper {
  text-align: center;
  padding: 0px 0px 112px 0px;
}

.services__button {
  position: relative;
  z-index: 4;
  display: inline-block;
  padding: 12px 0px;
  width: 211px;
  height: 48px;
  background: #c40b0b url('../img/task_3/button__arrow.png') 100% 50% no-repeat;
}

.services__button:hover {
  background: #e40b0b url('../img/task_3/button__arrow.png') 100% 50% no-repeat;
  cursor: pointer;
  transition: background 0.7s ease-in-out;
}

.services__button-link {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.15px;
}

/* --- faq --- */

.faq {
  background-color: #ececec;
  font-family: 'Poppins', sans-serif;
  color: #000;
  margin: 0px 0px 30px 0px;
  padding: 30px 0px 10px;
}

.faq__row .faq__small-title ~.faq__text:last-child {
  margin: 0px 0px 25px 0px;
}

.faq__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0px 0px 25px 0px;
}

.faq__subtitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  margin: 0px 0px 55px 0px;
  text-transform: uppercase;
}

.faq__small-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.62;
  margin: 0px 0px 25px 0px;
}

.faq__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.62;
  margin: 0px 0px 5px 0px;
}

.faq__text_margin {
  margin: 0px 0px 25px 0px;
}

.faq__list {
  padding: 0px 0px 0px 20px;
}

.faq__list-item {
  list-style: lower-alpha;
}

.faq__list-item:last-child {
  margin: 0px 0px 25px 0px;
}

.faq__list-item::marker {
  font-size: 16px;
  font-weight: 600;
  color: #e40b0b;
}

.faq__list-text {
  padding: 0px 0px 0px 5px;
}

/* --- computers --- */

.computers {
  background-color: #fff;
  margin: 0px 0px 30px 0px;
}

.computers__img {
  display: block;
  max-width: 870px;
  margin: 0px 0px 0px -185px;
}

/* --- about-us --- */

.about-us {
  background-color: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.about-us__wrapper {
  max-width: 870px;
  padding: 0px 0px 0px 47px;
}

.about-us__img {
  padding: 60px 0px 0px 0px;
}

.about-us__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.32;
  max-width: 465px;
}

.about-us__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.44;
  max-width: 436px;
  padding: 0px 0px 50px 0px;
}